<div class="alert alert-dismissible fade show bg-dark text-white position-fixed start-0 bottom-0 z-index-9 shadow rounded p-4 ms-3 mb-3 col-9 col-md-3" role="alert">
  This website stores cookies on your computer. To find out more about the cookies we use, see our <a class="text-white" href="#"> Privacy Policy</a>
  <div class="mt-4">
    <button type="button" class="btn btn-link btn-sm text-white mb-0 ps-0" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">Accept</span>
    </button>
    <button type="button" class="btn btn-link btn-sm text-danger mb-0" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">Decline</span>
    </button>
  </div>
  <div class="position-absolute end-0 top-0 mt-n4 me-n4"><img class="w-100" src="assets/images/cookie.svg" alt="cookie"></div>
</div>

