<!DOCTYPE html>
<html lang={{lang}}>
{{> header}}

<body>

<!-- Pre loader -->
{{> preloader}}

<!-- Search START -->
{{> search-start}}
<!-- Search END -->

<!-- =======================
Header START -->
{{> header-start}}
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

  <!-- =======================
  Contact form and map START -->
  <section class="p-0 pb-4 pb-md-0 bg-dark position-relative min-vh-100">
    <div class="container">
      <div class="row g-0 justify-content-lg-between table-responsive">
        <h3 class="text-light py-4">Contact Messages</h3>
        <table class="table table-dark table-striped table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Created At</th>
          </tr>
          </thead>
          <tbody id="messagesTableBody">
          <!-- Data will be injected here by JS -->
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- =======================
  Contact form and map END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Custom cursor -->
{{> custom-cursor}}

<!-- Back to top -->
{{> back-to-top}}

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
{{> bootstrap-js}}

<!-- Template Functions -->
{{> template-functions}}

</body>
</html>
